Flask
gunicorn
google-auth
google-auth-oauthlib
google-api-python-client
httpx[http2]
httpx-socks
beautifulsoup4
google-cloud-storage
google-genai
telegraph
grpcio>=1.62.0
feedparser
cloudscraper
requests
curl_cffi==0.7.3